$lgrey: #eee;
$grey: #999;
$red: #fc0202;
$white: #fdfdfd;
$dgrey: #312e2d;

@mixin gradient($start, $end, $stops...) {
  background: #start;
  background: -moz-linear-gradient(top,  $stops);
  background: -webkit-linear-gradient(top,  $stops);
  background: linear-gradient(to bottom,  $stops);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=0 ); /* IE6-9 */
}