.ad {
  background-color: #eee; }

p {
  font-size: 18px;
  line-height: 27px;
  color: #444; }

a {
  color: #444;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.ad.square {
  width: 300px;
  height: 300px; }

.ad.skyscraper {
  width: 300px;
  height: 600px; }

.ad.leaderboard {
  width: 728px;
  height: 90px; }

*, h1, h2, h3, h4 {
  font-family: Lato,arial,helvetica; }

h1, h2, h3, h4 {
  color: #444;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 800; }
  h1 a, h2 a, h3 a, h4 a {
    font-weight: 800; }

h1 {
  font-size: 34px;
  line-height: 40px; }

h2 {
  font-size: 30px;
  line-height: 38px; }

h3 {
  font-size: 22px;
  line-height: 33px; }

.mdl-layout__header, .mdl-layout__header-row {
  background: #start;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #fdfdfd 50%, #fdfdfd 51%, #dddcdb 100%);
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #fdfdfd 50%, #fdfdfd 51%, #dddcdb 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%, #fdfdfd 50%, #fdfdfd 51%, #dddcdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=0 );
  /* IE6-9 */ }

.gameplan-header {
  width: 100%;
  padding: 0px; }
  .gameplan-header-logo {
    background-color: #312e2d;
    margin: 0px;
    text-align: center;
    vertical-align: middle; }

.gameplan-subheader {
  background-color: #fc0202;
  color: #fdfdfd; }
  .gameplan-subheader h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    color: #fdfdfd; }

.gameplan-widget-container {
  background-color: #eee;
  padding: 10px; }

.gameplan-widget-navigation {
  background-color: #fc0202;
  color: #fdfdfd;
  text-align: center; }

.gameplan-section {
  margin-bottom: 150px !important; }

.gameplan-footer {
  background-color: #312e2d; }

.gameplan-faux-dropdown {
  text-transform: uppercase; }
  .gameplan-faux-dropdown-bordered {
    border: 1px solid #312e2d; }

.gameplan-grid {
  margin: auto; }

.gameplan-story img {
  max-width: 100%; }
.gameplan-story-main {
  padding-bottom: 20px; }
.gameplan-story-padded {
  padding: 10px; }

.faux-dropdown {
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 2px;
  margin-right: 2px;
  margin-left: 2px;
  position: relative; }
  .faux-dropdown-contents {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    left: -1px;
    width: 100%;
    margin: 0px;
    padding: 0px; }
    .faux-dropdown-contents.active {
      display: block; }
    .faux-dropdown-contents li {
      list-style: none;
      padding: 8px;
      background-color: rgba(255, 255, 255, 0.95);
      width: calc(100% - 16px);
      border-bottom: 1px solid #eee;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee; }
      .faux-dropdown-contents li:hover {
        background-color: white; }

.faux-dropdown:hover {
  background-color: #fcfcfc;
  cursor: pointer; }

.gameplan-dropdown {
  background-color: #fdfdfd; }

.gameplan-dropdown span {
  padding: 8px; }

.gameplan-header {
  background: #start;
  background: -moz-linear-gradient(top, #909195 0%, #323b44 55%, #323b44 86%);
  background: -webkit-linear-gradient(top, #909195 0%, #323b44 55%, #323b44 86%);
  background: linear-gradient(to bottom, #909195 0%, #323b44 55%, #323b44 86%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=0 );
  /* IE6-9 */
  color: #fdfdfd; }

.gameplan-row {
  border-bottom: 1px solid #eee;
  font-size: 16px; }

.gameplan-row-centered {
  text-align: center; }

.mdl-padded {
  padding: 8px; }

.gameplan-padding {
  padding: 4px; }

@media only screen and (min-width: 1224px) {
  .gameplan-grid {
    width: 1200px; } }

/*# sourceMappingURL=style.css.map */
