@import 'colors';


.ad {
  background-color: #eee;
}

p {
    font-size: 18px;
    line-height: 27px;
    color: #444;
  }

a {
  color: #444;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.ad.square {
  width: 300px;
  height: 300px;
}

.ad.skyscraper {
  width: 300px;
  height: 600px;
}


*,h1,h2,h3,h4 {
  font-family: Lato,arial,helvetica;
}

h1,h2,h3,h4 {
  color: #444;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 800;

  & a {
    font-weight: 800;
  }
}

h1 {
  font-size: 34px;
  line-height: 40px;
}

h2 {
  font-size: 30px;
  line-height: 38px;
}

h3 {
  font-size: 22px;
  line-height: 33px;
}

.mdl-layout__header, .mdl-layout__header-row {
  @include gradient(#fdfdfd, #dddcdb, #fdfdfd 0%, #fdfdfd 50%, #fdfdfd 51%, #dddcdb 100%);
}

.gameplan-header {
  width: 100%;
  padding: 0px;

  &-logo {
    background-color: $dgrey;
    margin: 0px;
    text-align: center;
      vertical-align: middle;
    & img {

    }
  }
}
.gameplan-subheader {
  background-color: $red;
  color: $white;
  & h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    color: $white;
  }
}

.gameplan-widget-container {
  background-color: $lgrey;
  padding: 10px;
}

.gameplan-widget {


  &-navigation {
    background-color: $red;
    color: $white;
    text-align: center;
  }
}

.gameplan-section {
  margin-bottom: 150px !important;
}

.gameplan-footer {
  background-color: $dgrey;
}

.gameplan-faux-dropdown {
  text-transform: uppercase;
  &-bordered {
    border: 1px solid $dgrey;
  }
}

.gameplan-grid {

  margin: auto;
}


.gameplan-story {
  & img {
    max-width: 100%;
  }
  &-main {
    padding-bottom: 20px;
  }
  &-padded {
    padding: 10px;
  }
}

.gameplan-dropdown {
  background-color: $white;

}
.gameplan-dropdown span {
  padding: 8px;
}

.gameplan-header {
  @include gradient(#909195, #323b44, #909195 0%,#323b44 55%,#323b44 86%);
  color: $white;
}

.gameplan-row {
  border-bottom: 1px solid #eee;
  font-size: 16px;
}
.gameplan-row-centered {
  text-align: center;
}

.mdl-padded {
  padding: 8px;
}
.gameplan-padding {
  padding: 4px;
}


@media only screen  and (min-width : 1224px) {
  .gameplan-grid {
    width: 1200px;
  }
}